/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  width: 90%;
  #  background-color: black;
  margin: 25px auto 0 auto;
  padding: 0;
}

#clock-face {
  width: 300px;
  height: 300px;
  margin: 10px auto;
  border-radius: 150px;
  background-color: black;
  border: dotted grey 1px;
  position: relative;
}

#minute-subdial{
  width: 50px;
  height: 50px;
  margin: 20px auto;
  border-radius: 25px;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: -25px;

}
#second-hand {
  width: 5px;
  height: 150px;
  margin: 0px auto;
  border-radius: 50px;
  background-color: #4373B5;
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.55);
  transform-origin: 50% 100%;
}
